html, body, #root, .app-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    background-color: #f0f2f5; 
    font-family: sans-serif;
}

.send_button {
  background: #000;
  color: white;
  border: none;
  padding: 12px 18px;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease; /* smooth animation */
}

.send_button:hover {
  transform: scale(1.1); /* enlarge slightly on hover */
}
